extends layout

block content
  
  h1 New Dish

  form.form(action="/dish", method="POST")
    .form-group
      input.form-control(placeholder="Name", name="name")
    .form-group  
      textarea.form-control(placeholder="Ingredients", name="ingredients")
    .form-group
      input.form-control(placeholder="Person", name="person")
    .form-group
      input.form-control(placeholder="Link", name="link")
    .form-group.checkbox
      label
        input(type='checkbox', value="done", name="done")
        | Done
    .form-group
      button.btn.btn-primary(type="submit") Add new dish
